<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="logo" title="kenrick.github">
        </div>
      </div>
  
      <div class="row headline">
        <div class="nine columns">
          <h1>Hi, I'm Kenrick. I am an analytical innovator, specializing in mathematical finance, corporate finance and valuation, and time series econometrics </h1>
        </div>
      </div>
      <div class="row"><hr></div>

      <div class="row">
          <div class="row">
          <h2>Projects</h2>
          <div class="six columns subhead">The purpose of mathematics is insight, not numbers.</div>
          </div>
          <p>
            <dl>
              <dt><a href="https://github.com/kenrickraymond/projects/blob/main/documents/JNJ%2C%20MRNA%2C%20PFE%20Corporate%20Financial%20Analysis.pdf">JNJ, PFE, and MRNA Corporate Financial Analysis Q1 2021</a></dt>
              <dd>This paper includes an analysis of the corporate governance, historical risk and return, capital structure, project characteristics, and dividend policy to provide a valuation and recommendations for each company. </dd>
                <p>
              <dt><a href="https://github.com/kenrickraymond/projects/blob/main/documents/JPM%20Valuation%20%26%20Equity%20Analysis.pdf">JPM Valuation and Equity Analysis Q3 2021</a></dt>
              <dd>This paper includes a dividend discount model to determine the intrinsic value, a relative valuation comparing the equity price with similar firms, a GARCH model to estimate stock volatility, an ARIMA model to forecast prices, and a Value at Risk calculation to determine possible losses. </dd>
                <p>
              <dt><a href="https://github.com/kenrickraymond/projects/blob/main/documents/DOW%20Optimal%20Portfolio%20Allocation.ipynb">DOW Optimal Portfolio Allocation Q3 2021</a></dt>
              <dd>This notebook includes the optimal weights given to stocks for a portfolio with constant capital, constraints such as maximizing returns, and minimizing volatility were added. A Monte-Carlo simulation was used to generate random weighted portfolios to plot an efficient frontier.</dd>
            </dl>

          <p> 
            <dl>
              <dt><a href="https://github.com/kenrickraymond/Portfolio/blob/main/Converge%20Valuation.pdf">Converge Valuation Q2 2021</a></dt>
              <dd>This paper includes a FCFE model to determine the intrinsic value, and a relative valuation through a regression on comparable firms to determine the value of equity in the firm.</p></dd>
            </dl>
                <p>
              <dt><a href="https://github.com/kenrickraymond/MachineLearning-Models">Machine Learning Models</a></dt>
              <dd>This repository contains mathematical models to forecast financial data using maching learning technologies. Examples include LSTM, and GANs</p></dd>
                <p>
              <dt><a href="https://github.com/kenrickraymond/TimeSeries-Models">Time Series Models</a></dt>
              <dd>This repository contains mathematical models to forecast financial data using maching learning technologies. Examples include ARMA, and GARCH</p></dd>
        </div>
      
      <div class="row" style="margin-top:10rem;"><hr></div>
      <div class="row">

      <div class="four columns" style="margin-left:0;margin-bottom:5rem;">
        <h2>Expertise</h2>
        <div class="eight columns subhead">A passion for learning about how mathematics can be used to improve financial servives. This is a partial list.</div>
        <a href=""><div class="button">Resume</div></a>
        
      </div>
      <div class="four columns">
        <ul>
          <li>Financial Modelling</li>
          <li>Financial Statement Analysis</li>
          <li>Valuation Methodologies</li>
          <li>Data Analytics and Visualization</li>
          <li>Equity Analysis</li>
        </ul>
      </div>

      <div class="four columns">
        <ul>
          <li>Excel</li>
          <li>Python</li>
          <li>R</li>
          <li>SQL</li>
          <li>JavaScript</li>
        </ul>
        </div>
      </div> 

    <div class="row" style="margin-top:10rem;">
      <hr>  
      <h3>To get in touch, write to <a href="mailto:kenrickrayso@gmail.com">kenrickrayso@gmail.com</a>.</h3>
    </div>

      <div class="row" style="margin-top:5rem;">
        <hr class="f">
        <div class="footer">
          
          <a href="https://www.linkedin.com/in/kenrickraymond/" title="LinkedIn @kenrickraymond" target="_blank"><div class="linkedin social"></div></a>
          <a href="https://github.com/kenrickraymond" title="github @kenrickraymond" target="_blank"><div class="github social"></div></a>
          
          &copy; 2021 <a href="mailto:kenrickrayso@gmail.com">Kenrick Raymond So</a>.
          
        </div>
      </div>
    </div>
  </body>
</html>