<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset="utf-8">
    <title>Kenrick Raymond So</title>
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="images/logo.png">
    <meta name="author" content="Kenrick Raymond So">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="logo" title="kenrick.github">
        </div>
      </div>
  
      <div class="row headline">
        <div class="eight columns">
          <h1 id="screenfiller">Hi, I'm Kenrick and I'm interested in mathematical finance. I'm also a casual olympic-weightlifter by night.   </h1>
        </div>
      </div>
      <hr>
      <!-- <div class="row"><hr></div> -->

      <div class="row">
          <div class="row">
          <h2>Key Projects</h2>
          <!-- <div class="four columns subhead">“Greatness from small beginnings” </div> -->
          <!-- <div class="four columns subhead">The following works include research projects on topics related to financial markets. </div> -->
          </div>
          
          <div class="projects">
            <dl>
              <dt><a href="https://github.com/kenrickraymond/projects/blob/main/documents/Optimal%20Liquidation%20Working%20Paper.pdf">A Numerical Scheme for the Optimal Liquidation Problem Under Jump Diffusion Dynamics on High-Frequency Data</a></dt>
              <dd>A research paper that developed an infinite-horizon numerical scheme to model an investor interested in liquidating her position in a pairs trading portfolio under the assumption that the pairs portfolio process exhibits jumps. </dd>
                <p>
              <dt><a href="https://github.com/kenrickraymond/projects/blob/main/documents/JNJ%2C%20MRNA%2C%20PFE%20Corporate%20Financial%20Analysis.pdf">JNJ, PFE, and MRNA Corporate Financial Analysis Q1 2021</a></dt>
              <dd>An analysis of corporate governance, historical risk and return, capital structure, company project characteristics, and dividend policy to provide a valuation and recommendations for each company. </dd>
                <p>
              <dt><a href="https://github.com/kenrickraymond/projects/blob/main/documents/JPM%20Valuation%20%26%20Equity%20Analysis.pdf">JPM Valuation and Equity Analysis Q3 2021</a></dt>
              <dd>An analysis of a company's intrinsic value using a dividend discount model, a relative valuation comparing the financial ratios, and a quantitative analysis using time-series forecasting and value-at-risk calculations. </dd>
            </dl>
          </div>
        
        <div class="row" style="margin-top:7rem;">
          <div class="row">
            <h2>Projects</h2>
          </div>
          <p> 

          <div class="projects">
            <dl>
              <dt><a href="https://github.com/kenrickraymond/projects/blob/main/documents/DOW%20Optimal%20Portfolio%20Allocation.ipynb">DJI Optimal Portfolio Allocation Q3 2021</a></dt>
              <dd>This notebook includes the optimal weights given to stocks for a portfolio with constant capital, constraints such as maximizing returns, and minimizing volatility were added. A Monte-Carlo simulation was used to generate random weighted portfolios to plot an efficient frontier.</dd>
              <p>
              <dt><a href="https://github.com/kenrickraymond/projects/blob/main/documents/Converge%20Valuation.pdf">Converge Valuation Q2 2021</a></dt>
              <dd>An intrinsic valuation using the free cash flow to equity model, and a relative valuation through a regression on comparable firms to determine the value of equity in the firm.</p></dd>
            </dl>
                <!-- <p>
              <dt><a href="https://github.com/kenrickraymond/MachineLearning-Models">Machine Learning Models</a></dt>
              <dd>This repository contains mathematical models to forecast financial data using maching learning technologies. Examples include LSTM, and GANs</p></dd> -->
                <p>
              <dt><a href="https://github.com/kenrickraymond/TimeSeries-Models">Time Series Models</a></dt>
              <dd>A repository containing mathematical models to forecast financial data. Examples include ARMA, and GARCH.</p></dd>
            </div>
          </div>

      
      <div class="row" style="margin-top:10rem;"><hr></div>
      <div class="row">

      <div class="four columns" style="margin-left:0;margin-bottom:5rem;">
        <h2>Research</h2>
        <div class="eight columns subhead">A passion for the application of mathematical methods to solve financial problems. This is a partial list.</div>
        <a href=""><div class="button">Résumé</div></a>
        
      </div>
      <div class="seven columns" style="font-weight: 500;">
          <h2>Mortality Modelling</h2>
          <ul>
          <li>Longevity Risk Management</li>
          <li>Affine Term Structure Modelling</li>
          <li>Asset-Liability Management</li>
          <li>Monte Carlo Methods</li>
          </ul> 
          <h2>Quantitative Finance</h2>
          <ul>
          <li>Stochastic Optimal Control</li>
          <li>Mean-Variance Optimization</li>
          <li>Asset Pricing</li>
          <li>Optimal Execution Strategies</li>
          <!-- <li>Financial Modelling</li>
          <li>Equity Research</li>
          <li>Financial Statement Analysis</li>
          <li>Valuation Methodologies</li>
          <li>Data Analysis and Visualization</li>
          <li>Market Research</li>
          <li>Project Management</li> -->
        </ul>
      </div>

      <!-- <div class="four columns"> -->
        <!-- <ul> -->
          <!-- <li>Python</li> -->
          <!-- <li>R</li> -->
          <!-- <li>SQL</li> -->
          <!-- <li>VBA</li> -->
          <!-- <li>Microsoft Suite</li> -->
          <!-- <li>JavaScript</li> -->
          <!-- <li>JavaScript</li> -->
        <!-- </ul> -->

        </div>
      </div> 

    <div class="row" style="margin-top:10rem;">
      <hr>  
      <h3>To get in touch, write to <a href="mailto:kenrickrayso@gmail.com">kenrickrayso@gmail.com</a>.</h3>
    </div>

      <div class="row" style="margin-top:5rem;">
        <hr class="f">
        <div class="footer">
          <div class="footer-social">
          <a href="https://www.linkedin.com/in/kenrickraymond/" title="LinkedIn @kenrickraymond" target="_blank"><img src="images/linkedin.png" class="footer-social"></a>
          <a href="https://github.com/kenrickraymond" title="github @kenrickraymond" target="_blank"><img src="images/github.png" class="footer-social"></a>
          
          &copy; 2021 <a href="mailto:kenrickrayso@gmail.com">Kenrick Raymond So</a>.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>